<%= simple_form_for(@group) do |f| %>
<div class="add-item-form form-inline">
  <%= f.input_field :name %>
  <%= button_tag(type: 'submit', class: "rename-group-button tiny") do%>
      Rename Group
  <%end%>
</div>
<% end %>