<%content_for :right_side_bar do%>
<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Group Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= link_to group.name, group %></td>
        <td><%= link_to 'Destroy', group_path(group), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New group', new_group_path %>
<% end%>

<h2>Please Select a Group!</h2>