


<%content_for :left_side_bar do %>

<p>
  <strong>Name:</strong>
  <%= current_user.name %>
</p>

<p>
  <strong>Amount Spent This Month:</strong>
  <%= current_user.total_spent_in_current_month %>
</p>

<% end %>

<%content_for :main_title do %>
  <div class="medium-12 columns group-name">

  </div>


<%end%>


<div class="main-wrapper">

</div>


<%content_for :right_side_bar do%>
  <div id="your-groups">
    <%= render 'your_groups' %>
  </div>
<% end %>