
<div class="medium-6 columns medium-centered faded-background" id="purchase-show">

<%= render 'purchased_form' %>


<%= link_to 'Show', group_purchase_path(@group, @purchase) %> |
<%= link_to 'Back', group_purchases_path(@group) %>

</div>
