<%= simple_form_for [@group, @item] do |f| %>
  <div class="add-item-form form-inline">
    <%= f.input_field :name, placeholder: "Add New Item" %>

    <%= button_tag(type: 'submit', id:"add-item-button", class: "add-item-button tiny") do%>
      <i class="fi-plus large"></i>
    <%end%>
  </div>
<% end %>
