 h1 {
  font-family: 'Lato', sans-serif;
  color: white;
 }

 .button {
    margin: 0 auto;
    color: #FFF;
 }

 .main-wrapper {
  padding-top: 6%;
 }

 #main-content{
  margin-top: 3%;
 }

 #left-content {

 }

 #right-content {

 }

 #make-a-purchase {
  padding-top: 2%;
 }

.custom-table {
  opacity: .95;
  width:100%;
  max-width:100%;
}

.custom-table tr {
  list-style: none;
  text-align: center;
}

.custom-table tr:first-child {
  margin-top: 25px;
}

.item {
  margin: 10px;
  font-size: 1.5em;
  max-width: 100%
}

.group-name {
  text-align: center;
}

.display-mobile {
  display:none;
  background-color: black;
}

.cover {
  height:50%;
  width: 100%;
  margin: 0;
}

.cover-logo {
  font-family: 'alexbrush-regular';
  color: white;
  font-size: 6em;
  display: block;
  text-align: center;
  padding: 100px;
}

@media only screen and (max-width: 40em) {
  #right-content {display:none;}
  .display-mobile {display:inline-block;}
  .hide-mobile {display:none;}
  .cover-logo {font-size: 3em;}
}

.owes {
  color:red;
}

.owed{
  color:green;
}

.purchase-row:hover {
  background-color: #FFE7BA;
}

.group-row:hover {
  background-color: #FFE7BA;
}

.items-form .button {
  display: block;
  margin: 10px auto 0px auto;
}

.purchase-button {
  display: block;
  margin: 30px;
}

.group-name {
  margin-bottom: 2%;
}

.group-name h1, .group-name p {
  display: inline;
  vertical-align: top;
  margin-bottom: 2%;
}

.members-header h1, .members-header a {
  display: inline;
}

.fi-x-circle {
  margin-left: 10px;
}

.add-item-form input {
  width: 75%;
}

.add-item-button {
  margin-left: 5%;
}

.add-item-form input, .add-item-form button {
  display: inline;
  vertical-align: top;
  margin-bottom: 2%;
}

.add-item-form {
  text-align: center;
}

.rename-group-button {
  margin-left: .5%;
}

.chosen-group {
  border: solid 2px;
}

.groups-table {
  width: 100%;
}

/*div.centered-table
{
    text-align: center;
}
div.centered-table table
{
    margin: 0 auto;
    text-align: left;
}*/


/*check boxes for making a purchase*/
.item-check-boxes {
  width: 80%;
  height: 1.5em;
  margin: 0 auto;
  font-size: 1em;
}

/*input[type='checkbox'] {
    display:none;
}
*/
.faded-background {
  background-color: white;
  opacity: 0.90;
}

.purchases-form {

}


