 h1 {
  font-family: 'Lato', sans-serif;
 }

 .button {
    margin: 0 auto;
    color: #FFF;
 }

 #main-content{
 }

 #left-content {

 }

 #right-content {

 }

 #make-a-purchase {
  padding-top: 2%;
 }

.items-list li {
  list-style: none;
  text-align: center;
}

.items-list li:first-child {
  margin-top: 25px;
}

.item {
  margin: 10px;
  font-size: 1.5em;
}

.purchase_items .checkbox {
  text-align: center;
}

.group-name {
  text-align: center;
}

@media screen and (max-width: 400px) {
  #left-content {display:none;}
}

.owes {
  color:red;
}

.owed{
  color:green;
}

.purchase-row:hover {
  background-color: #FFE7BA;
}

.group-row:hover {
  background-color: #FFE7BA;
}

.items-form .button {
  display: block;
  margin: 10px auto 0px auto;
}

.purchase-button {
  display: block;
  margin: 30px;
}

.group-name {
  margin-bottom: 2%;
}

.group-name h1, .group-name p {
  display: inline;
  vertical-align: top;
  margin-bottom: 2%;
}

.members-header h1, .members-header a {
  display: inline;
}

.fi-x-circle {
  margin-left: 10px;
}

.add-item-form input {
  width: 75%;
}

.add-item-button {
  margin-left: 6%;
}

.add-item-form input, .add-item-form button {
  display: inline;
  vertical-align: top;
  margin-bottom: 2%;
}

.rename-group-button {
  margin-left: .5%;
}

.chosen-group {
  border: solid 2px;
}

.groups-table {
  width: 100%;
}

.item-checkboxes {
  width: 50px; height: 50px;
}