 h1 {
  font-family: 'Lato', sans-serif;
 }

 .button {
    margin: 0 auto;
    color: #FFF;
 }

 #main-content{
 }


 #make-a-purchase {
  padding-top: 2%;
 }

.items-list li {
  list-style: none;
  text-align: center;
}

.item {
  margin: 10px;
  font-size: 2em;
}

.group-name {
  text-align: center;
}

@media screen and (max-width: 400px) {
  #left-content {display:none;}
}

.owes {
  color:red;
}

.owed{
  color:green;
}

.purchase-row:hover {
  background-color: #FFE7BA;
}

.items-form .button {
  display: block;
  margin: 10px auto 0px auto;
}

.purchase-button {
  display: block;
  margin: 30px; 0 auto;
}

.group-name h1, .group-name p{
  display: inline;
  vertical-align: top;
  margin-bottom: 2%;
}